<h1>About Us</h1>
<p>TourSquad is the best option for tourists and/or visitors that are travelling to cities and want to have a fun experience in the meantime. Whether you're on a vacation or a business trip, your Tour Squad show you the BEST time in the city you're stopping by!</p>
