<h1>Report Listing</h1>
<p><u><%= link_to "Customer List", reports_customerList_path %></u> - A list of all customers</p>
<p><u><%= link_to "Squad List", reports_productList_path %></u> - A list of all Squads available for booking</p>
<p><u><%= link_to "Booking List", reports_saleList_path %></u> - A list of all Squad bookings</p>
